body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}

.header {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
}

.hero {
    font-size: 48px;
    font-weight: 1000;
}

.links {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

i {
    text-decoration: none;
    color: white;
}